<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CourtRegistersDBEntities" connectionString="metadata=res://*/CourtReportsDB.csdl|res://*/CourtReportsDB.ssdl|res://*/CourtReportsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV;initial catalog=CourtRegistersDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SaleLocation" value="Сис при ВРС" />
  </appSettings>
</configuration>